<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collage Finder</title>
    <link rel="stylesheet" href="/collegefinder.css">
</head>
<body>
   <h1>Search ALL World's Collages Universitys</h1>
   <input type="search" placeholder="Search Country" id="inputCountry">
   <input type="search" placeholder="State" id="inputState">
   <button id="country">Search</button>


   <ul id="list">

   </ul>

   <h3>Total Universitys</h3>
   <p id="totalCollage">

   </p>

   <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

   <script src="app.js"></script>
</body>
</html>