<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create A New Posts</title>
    <link rel="stylesheet" href="/new.css">
</head>
<body>
    <h1>Create A Quora post for you profile.</h1>
    <form method="post" action="/posts">
        <input type="text" placeholder="username" name="username" class="username"><br><br>
        <textarea name="content" class="content" placeholder="Enter you post's Content"></textarea> <br><br>
        <button class="button">SUBMIT POST</button>
    </form>
</body>
</html>